$primary-text-color: rgba(74,74,74,0.7);
$bg-color: #f3f3f3;

$white: #fff;
$black: #000;

$accent-color-orange: #cc9543;
$accent-color-blue: #6abfc3;

$transition-gen: all .3s ease-in-out;

$sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
