.nav {
    
    &__list {
        list-style: none;
        @media(max-width: 850px) {
            display: none !important;
        }
    }
    &__item {
        
        &:not(:last-child) {
            margin-right: 1rem;
        }
        &:nth-last-child(3) .nav__link{
            padding-right: 1rem;
            border-right: 1px solid $primary-text-color;
             
        }
    }
    &__link {
        font-weight: bold;
        color: $primary-text-color;
        transition: $transition-gen;

        &:hover {
            color: $black;
        }
    }
}